* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #feefef;
}

nav {
    padding: 5px;
    height: 3rem;
    background: white;
    box-shadow: 2px 4px rgba( 0, 0, 0, 0.06);
}

nav ul {
    list-style: none;
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 30px; 
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: #555;
}

section {
    background-color: white;
    max-width: 85%;
    margin: 15px auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    flex-wrap: wrap;
}

.kontak {
    background-color: blue;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.resume {
    background-color: white;
    color: green;
    padding: 10px 20px;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

section img {
    max-width: 100px;
    border-radius: 100%;
    margin-right: 30px;
}

section div {
    flex: 1;
    padding: 20px;
}

section h1 {
    margin-bottom: 5px;
}

th, td {
    padding: 0 30px;
}

form {
    background-color: white;
    max-width: 85%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ddd;
}

label {
    display: contents;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

#submit {
    margin-top: 10px;
    width: 100%;
    background-color: #057007;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#submit:hover {
    background-color: #30ee46;
}
